body{
/*    margin:0 auto; */
    font-family: Calibri, sans-serif;
}
#nav-one{
	list-style:none;
	margin:0;
	padding:0;
	text-align:center;
}
#nav-one li{
	position:relative;
	display:inline;
}
#nav-one a{
	display:inline-block;
    text-decoration:none;
	padding:7px;
    /*padding: 0 9px;*/
    background: #B87333;
    color: #FFFFFF;
}
#nav-one ul{
	position:absolute;
	/*top:100%; Uncommenting this makes the dropdowns work in IE7 but looks a little worse in all other browsers. Your call. */
	left:-9999px;
	margin:0;
	padding:0;
	text-align:left;
    background: #B87333;
}
#nav-one ul li{
	display:block;
}
#nav-one li:hover ul{
	left:0;
}
#nav-one li:hover a{
	/*text-decoration:underline;*/
	/*background:#f1f1f1;*/
    /*border: 1px solid #000000;*/
    background:#ccc;
    color: #000000;
}
#nav-one li:hover ul a{
	text-decoration:none;
	background:none;
    color: #FFFFFF;
}
#nav-one li:hover ul a:hover{
	text-decoration:none;
    background: #ccc;
    color: #000000;
}
#nav-one ul a{
	white-space:nowrap;
    text-decoration:none;
	display:block;
	border-bottom:1px solid #000000;
    border-left:1px solid #000000;
    border-right:1px solid #000000;
    /*border: 1px solid #000000;*/
    /*border-bottom: 0;*/
    color: #FFFFFF;
}
