@media only screen and (min-width: 601px) {
  DIV.GOOPLUSONE { display:none; }
  A.TITLESMALL { display:none; }
}

@media only screen and (max-width: 768px) {
   BR.SUBTITLE1 { display:none; }
   SPAN.SUBTITLE { display:none; }
}

@media only screen and (max-width: 600px) {
   TABLE.MAINMENU { display:none; }
   BR.SUBTITLE2 { display:none; }
   TD.LEFT { display:none; }
   A.TITLEBIG { display:none; }
}
