{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search for {{ search_value }}
{% endblock %}


{% block body_block %}

{% if user.is_authenticated %}
        <h2>
        <a href="{% url 'bookmarks' %}">Back...</a>
        </h2>
        <div>
        {% if search_list %}
        <table>
        {% for item in search_list %}
        <tr>
        <td><a href="{% url 'del_bookmark' item.slugtitle %}">Delete</a></td>
        <td><a href="{{ item.url }}">View</a></td>
        <td><a href="{% url 'view_bookmark' item.slugtitle %}">{{ item.title }}</a></td> 
        {% endfor %}
        </tr>
        </table>
        {% else %}
        <strong>There are no bookmarks found for "{{ search_value }}"</strong>
        {% endif %}
        </div>
{% else %}
        <p>You are not logged in</p>
{% endif %}

{% endblock %}